
.material-symbols-outlined {
    font-family: 'Material Symbols Outlined', sans-serif;
}
.nav-link {
    display: grid;
    place-items: center; /* アイコンとテキストを中央揃えにする */
    grid-template-rows: auto auto; /* 2行のグリッドを作成 */
    color: aliceblue;
}

.material-symbols-outlined{
    color: aliceblue;
}
.navbar {
    height: 9vh; /* 画面の高さの20%に設定 */
}

.nav-link .material-symbols-outlined {
    font-size: 24px; /* アイコンのサイズを24pxに設定 */
    vertical-align: middle; /* アイコンの位置を中央揃えにする */
}

.nav-link {
    font-size: 16px; /* リンクテキストのサイズを16pxに設定 */
}

@media (max-width:650px) {
    .navbar-brand{
        font-size: 50px;
    }
    .nav-link .material-symbols-outlined {
        font-size: 40px; /* スマホでのアイコンのサイズを大きくする */
    }

    .nav-link {
        font-size: 26px; /* スマホでのテキストのサイズを大きくする */
    }
    .navbar {
        height: 8vh; /* 画面の高さの20%に設定 */
    }
}