.demo-img{
    width: 100%;
    height: 300px;
}
#canvas {
    position: relative; /* 確実にこの要素がスタックコンテキストを持つように */
    z-index: 1; /* 必要に応じて適切なz-indexを設定 */
}

/*.graph{*/
/*    padding-left: 10px;*/
/*    margin-bottom: 10px;*/
/*    border: 2px;*/
/*    border-radius: 10px;*/
/*}*/
#graph {
    width: 97%; /* 親要素に対して90%の幅 */
    height: 375px; /* ビューポートの高さの40% */
    margin: 0 auto; /* 水平中央に配置 */
    padding: 10px;
    border: 1px solid #333333;
    border-radius: 10px;
    position: relative; /* 子要素の絶対位置指定の基準点 */
    text-align: center;
}
.result-and-info {
    display: flex;
    justify-content: space-between; /* 要素間の間隔を均等に分配 */
    align-items: flex-start; /* 要素をコンテナの上端に揃える */
    width: 100%; /* コンテナの幅を最大に */
    padding: 0 10px; /* 左右のパディングを追加して隙間を調整 */
}

.result-title{
    font-size: 25px;
}



.result{
    font-weight: bold;
    font-size: 30px;
}
.title {
    font-family: "ヒラギノ角ゴ Pro W3", sans-serif;
    position: relative;
    padding: 0.25em 1em;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
}

.title:before, .title:after {
    content: '';
    position: absolute;
    top: -7px;
    width: 2px;
    height: -webkit-calc(100% + 14px);
    height: calc(100% + 14px);
    background-color: black;
}
.title:before {
    left: 7px;
}
.title:after {
    right: 7px;
}

.info-h{
    padding-left: 30%;
    font-size: 30px;
}
.info {
    margin-right: 5px; /* infoとresult-displayの間の隙間を調整 */
}
.left-display{
    display: flex;
    flex-flow: column;
    width: 40%;
}
.label-base{
        position: absolute;
        top: 15px;
        left: 10px;
        font-size: 16px;
        color: #a0a0a0;
        margin-left: 5%; /* 残りの幅を均等に左右に配置 */
        margin-right: 5%;
        margin-top: 10px;
        transition: all 0.25s ease;

        &.focus{
            top: -25px;
            left: 5px;
            font-size: 14px;
            color: #fff;
        }
}
.nice-wrap{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 0 auto 10px;

}
.grape-input{
    margin-top: 3px;
    width: 90%;
}
.result-display{
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #333333;
    border-radius: 10px;
    position: relative; /* 子要素の絶対位置指定の基準点 */
    margin-left: 13px;
    width: 100%;

}
.grape-simulate{
        text-align: center;
        margin-top: 3px;
        border: 1px solid #333333;
        border-radius: 10px;
        margin-left: 13px;
        width: 100%;
}
.info, .result-display {
    flex: 1; /* 各要素が利用可能なスペースを均等に使用 */
    margin: 10px; /* 共通のマージンを設定して余白を一定に */
    padding: 10px;
    border: 1px solid #333333;
    border-radius: 10px;
    box-sizing: border-box; /* パディングとボーダーを幅に含む */
}
.input-file-label{
    font-weight: bold;
    font-size: 22px;
}
.result-container {
    display: inline-flex; /* インラインフレックスボックス */
    align-items: center; /* 要素を中央揃え */
}
.file-form{
    display: inline-block;
    text-align: center;
}
.input-file{
    display: none;
}
.input-file-label {
    border-radius: 20px;
    margin-top: 3px;
    width: 350px;
    height: 50px;
    color: #ffffff; /* ラベルテキストの色を指定する */
    background-color: #eb6100;/* ラベルの背景色を指定する */
    padding: 10px; /* ラベルとテキスト間の余白を指定する */
    border: double 4px #AAAAAA;/* ラベルのボーダーを指定する */
}

#submit-info{
    margin-left: 30%;
}
.graph-info{
    display: block
}

#min-slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* 🚩これ無しだとスタイルがほぼ全く反映されないので注意 */
    appearance: none;
    cursor: pointer; /* カーソルを分かりやすく */
    outline: none; /* スライダーのアウトラインは見た目がキツイので消す */
    height: 40px; /* バーの高さ */
    width: 30px; /* バーの幅 */
    background: #00FF00; /* バーの背景色 */
    border-radius: 10px; /* バーの両端の丸み */
    border: solid 3px #dff1ff; /* バー周囲の線 */        /* サムを円形にする */
}

#min-slider{
    -webkit-appearance: none; /* 🚩これ無しだとスタイルがほぼ全く反映されないので注意 */
    appearance: none;
    cursor: pointer; /* カーソルを分かりやすく */
    outline: none; /* スライダーのアウトラインは見た目がキツイので消す */
    height: 14px; /* バーの高さ */
    width: 100%; /* バーの幅 */
    background: #00FF00; /* バーの背景色 */
    border-radius: 10px; /* バーの両端の丸み */
    border: solid 3px #dff1ff; /* バー周囲の線 */
}


#max-slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* 🚩これ無しだとスタイルがほぼ全く反映されないので注意 */
    appearance: none;
    cursor: pointer; /* カーソルを分かりやすく */
    outline: none; /* スライダーのアウトラインは見た目がキツイので消す */
    height: 40px; /* バーの高さ */
    width: 30px; /* バーの幅 */
    background: #00FFFF; /* バーの背景色 */
    border-radius: 10px; /* バーの両端の丸み */
    border: solid 3px #dff1ff; /* バー周囲の線 */        /* サムを円形にする */
}

#max-slider{
    -webkit-appearance: none; /* 🚩これ無しだとスタイルがほぼ全く反映されないので注意 */
    appearance: none;
    cursor: pointer; /* カーソルを分かりやすく */
    outline: none; /* スライダーのアウトラインは見た目がキツイので消す */
    height: 14px; /* バーの高さ */
    width: 100%; /* バーの幅 */
    background: #00FFFF; /* バーの背景色 */
    border-radius: 10px; /* バーの両端の丸み */
    border: solid 3px #dff1ff; /* バー周囲の線 */
}


#final-slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* 🚩これ無しだとスタイルがほぼ全く反映されないので注意 */
    appearance: none;
    cursor: pointer; /* カーソルを分かりやすく */
    outline: none; /* スライダーのアウトラインは見た目がキツイので消す */
    height: 40px; /* バーの高さ */
    width: 30px; /* バーの幅 */
    background: #FF00FF; /* バーの背景色 */
    border-radius: 10px; /* バーの両端の丸み */
    border: solid 3px #dff1ff; /* バー周囲の線 */        /* サムを円形にする */
}
.input{
    position: relative;
    margin: 8px 0 0 -14px;
}
input::before {
    content: “添付ファイル：”;
    position: absolute;
    background: #fff;
    width: 110px;
    height: 26px;
    line-height: 1.8;
    text-align: right;
}
.input-file-span{
    display: block;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    font-family: “游ゴシック”, “Yu Gothic”;
    background: #ee7800;
    padding: 8px 0;
    border-radius: 16px;
    max-width: 240px;
    text-align: center;
    transition: .3s;
    cursor:pointer;
}
#final-slider{
    -webkit-appearance: none; /* 🚩これ無しだとスタイルがほぼ全く反映されないので注意 */
    appearance: none;
    cursor: pointer; /* カーソルを分かりやすく */
    outline: none; /* スライダーのアウトラインは見た目がキツイので消す */
    height: 14px; /* バーの高さ */
    width: 100%; /* バーの幅 */
    background: #FF00FF; /* バーの背景色 */
    border-radius: 10px; /* バーの両端の丸み */
    border: solid 3px #dff1ff; /* バー周囲の線 */
}
.input-font{
    font-size: 25px;
    font-family: "Helvetica Neue" , sans-serif;
}

@media screen and (max-width:980px) {
    .position-status {
        font-size: 30px;
    }

    .slider{
        -webkit-appearance: none; /* 🚩これ無しだとスタイルがほぼ全く反映されないので注意 */
        appearance: none;
        cursor: pointer; /* カーソルを分かりやすく */
        outline: none; /* スライダーのアウトラインは見た目がキツイので消す */
        height: 14px; /* バーの高さ */
        width: 100%; /* バーの幅 */
        background: #8acdff; /* バーの背景色 */
        border-radius: 10px; /* バーの両端の丸み */
        border: solid 3px #dff1ff; /* バー周囲の線 */
    }
}
#submit-info{
    width: 200px;
    height: 50px;
    color: #fff;
    background-color: #eb6100;
    border-radius: 100vh;
}
#memory-num,#big-count,#reg-count,#revolutions{
    padding-left: 40%;
    width: 97%;
    height: 50px;
}

.grape-attention-content,.model-label{
    font-size: 27px;
    font-weight: bold;
}

.grape-on-off{
    display: flex;
}

.toggle_input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
}

.toggle_label {
    width: 75px;
    height: 35px;
    background: #ccc;
    position: relative;
    display: inline-block;
    border-radius: 40px;
    transition: 0.4s;
    box-sizing: border-box;
}

.toggle_label:after {
    content: "";
    position: absolute;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    left: 0;
    top: 0;
    z-index: 2;
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: 0.4s;
}

.toggle_input:checked + .toggle_label {
    background-color: #4BD865;
}

.toggle_input:checked + .toggle_label:after {
    left: 40px;
}

.toggle_button {
    position: relative;
    width: 75px;
    height: 35px;
    margin: auto;
}
.grape-title{
    padding-top: 10px;
    padding-left: 10px;
    font-weight: bold;
    font-size: 30px;
}