<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-6G2GBGH0V1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-6G2GBGH0V1');
    </script>
    <title>差枚数グラフ読み取り</title>
    <link th:href="@{/css/home.css}" rel="stylesheet">
    <link th:href="@{/css/footer.css}" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<header th:replace="html/new-header"></header>
<body>
<div class="main">

        <img class="demo-img" th:src="@{../img/demo-img.png}" alt="サンプルグラフ">
        <div class="explain">
            <p class="explain-p">画像をアップロードして<br>以下の三つを指定するだけ！</p>
            <ul class="three-ul">
                <ul class="cp_list">
                    <li class="three">0の目盛り位置</li>
                    <li class="three"> 上部の目盛り位置</li>
                    <li class="three "> 上部目盛りの値</li>
                </ul>

            </ul>
            <form th:action="@{/home/manualCal}" method="get">
                <button type="submit" class="manualCal-button">差枚数計算はこちら</button>
            </form>
<!--            <img src="/img/homeIlust.png" alt="分析イラスト" class="home-ilust">-->
        </div>

</div>
<div class="box-news">
    <h2 class="news-h">News</h2>
    <ul class="news-list">
        <li>
            <div class="news-content">
                <hr class="news-divide">
                <a th:href="@{/home/manualCal}" class="content-title">差枚数計算(手動)を実装しました。</a>
                <p class="date">2024.05.01</p>
            </div>
        </li>
        <li>
            <div class="news-content">
                <hr class="news-divide">
                <a th:href="@{/home/manualCal}" class="content-title">差枚数計算(手動)を実装しました。</a>
                <p class="date">2024.05.01</p>
            </div>
        </li>
    </ul>
</div>

<footer th:replace="html/footer"></footer>

</body>

</html>
