<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>差枚数グラフ読み取り</title>
    <link th:href="@{/css/how-to.css}" rel="stylesheet">
    <link th:href="@{/css/new-header.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div th:insert="~{html/new-header}"></div>
<div class="box">
    <img src="/img/how-to.png" alt="使い方" class="how-to-img">
</div>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4793670059538491"
        crossorigin="anonymous"></script>
</body>

</html>
