<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Navigation Bar</title>
    <link href="https://fonts.googleapis.com/earlyaccess/kokoro.css" rel="stylesheet">
    <link th:href="@{/css/new-header.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>
<body>
    <div class="nav-box">
        <a th:href="@{/home}" class="brand-logo">差枚CAL</a>
        <div class="nav-item-list">
            <div class="nav-content">
                <a class="nav-link" th:href="@{/home/manualCal/how-to}">
                    <span class="material-symbols-outlined how-to-icon">menu_book</span>
                    使い方
                </a>
            </div>
<!--            <div class="nav-conten">-->
<!--                <a class="nav-link" th:href="@{/home/manualCal/how-to}">-->
<!--                    <span class="material-symbols-outlined">book</span> 使い方-->
<!--                </a>-->
<!--            </div>-->
        </div>
    </div>
</body>
</html>
