<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>プライバシーポリシー、免責事項</title>
</head>
<body>
<p>本ブログ(https://diffnumcal.onrender.com/)</p>
<h2>プライバシーポリシー</h2>
<dl>
    <dt class="privacy-policy">広告について</dt>
    <dt class="access">アクセス解析ツールについて</dt>
    <dd>当ブログでは、Googleによるアクセス解析ツール「Googleアナリティクス」を利用しています。このGoogleアナリティクスはトラフィックデータの収集のためにクッキー（Cookie）を使用しております。トラフィックデータは匿名で収集されており、個人を特定するものではありません。</dd>
</dl>
<dl>
    <dt class="disclaimer">免責事項</dt>
        <dd>
            本ブログからのリンクやバナーなどでアクセスした外部サイトで提供される情報やサービスについては、一切の責任を負いません。
            また、本ブログのサービス、コンテンツや情報は、できる限り正確な情報を提供するよう努めておりますが、その正確性や安全性を保証するものではありません。情報が古くなっている場合もあります。
            当サイトに掲載された内容により生じた損害については、一切の責任を負いませんので、ご了承ください。
        </dd>
</dl>


</body>
</html>